<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ackermann_steering">

<gazebo>
      <plugin
        filename="gz-sim-ackermann-steering-system"
        name="gz::sim::systems::AckermannSteering">
        <left_joint>left_front_wheel_joint</left_joint>
        <left_joint>left_rear_wheel_joint</left_joint>
        <right_joint>right_front_wheel_joint</right_joint>
        <right_joint>right_rear_wheel_joint</right_joint>
        <left_steering_joint>left_steer_joint</left_steering_joint>
        <right_steering_joint>right_steer_joint</right_steering_joint>
        <kingpin_width>1.0</kingpin_width>
        <steering_limit>0.5</steering_limit>
        <wheel_base>1.0</wheel_base>
        <wheel_separation>0.21</wheel_separation>
        <wheel_radius>0.1</wheel_radius>
        <min_velocity>-1</min_velocity>
        <max_velocity>1</max_velocity>
        <min_acceleration>-3</min_acceleration>
        <max_acceleration>3</max_acceleration>
      </plugin>

</gazebo>
    
</robot>